<div class="row">
	<div class= "small-6 large-centered columns">
 		<%= image_tag "Les Associations dans Rails-logo.png" %>
 	</div>
</div>
<div class="row">
	<div class= "small-6 large-centered columns">
 		<%= image_tag "fusion_dance_goku_vegeta.png" %>
 	</div>
</div>  
<div class="row punch-line">

 		<h2>Parce que l'association fait la force!</h2>
 	
</div> 
<div class="row app-links">
	<div class= "small-6 large-centered columns">
		<div class="small-2 large-4 columns">
		  <a href="https://github.com/simplonco"><%= image_tag "simplon.png" , height: '75', width: '75'%></a>
		</div>
		<div class="small-2 large-4 columns">
			<%= image_tag "toolbox.png" , height: '75', width: '75'%>
		</div>
		<div class="small-2 large-4 columns">
		  <a href="http://guides.rubyonrails.org/association_basics.html"><%= image_tag "ruby-on-rails-logo.png" , height: '75', width: '75' %></a>
		</div>
	</div>
</div>



<!-- <p><a href="http://localhost:3000/orders/2"><%= image_tag "belongs_to.png" %>
</a></p>
<p><a href="http://localhost:3000/suppliers/2"><%= image_tag "has_one.png" %>
</a></p>
<p><a href="http://localhost:3000/customers/1"><%= image_tag "has_many2.png" %>
</a></p>
<p><a href="http://localhost:3000/appointments/1"><%= image_tag "has_many.png" %>
</a></p> -->